// контейнер по умолчанию. Отступ между колонками
$container: 1140px;
$colGups: 15px;

// размер текста
$textFont-size: 1rem;  // 16px
$linkColor: blue;

// контрольные точки, на которых наш макет будет перестраиваться (могут меняться зависимости от дизайна)
$breakpoints: (
        xs: 0,
        sm: 575px,
        md: 768px,
        lg: 1025px,
        xl: 1200px,
        xxl: 1440px
);

// количество колонок
$columns: 12;

// проходимся циклом по всем контрольным точкам
@each $breakpoint in $breakpoints {

  // в name записываем имя размера (xs, sm, md ...)
  // в size записываем кол-во колонок, которые должен занимать элемент с эти классом.
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  
  // генерируем медиа запрос для ширины брейкпоинта, который сейчас является текущим в цикле.
  @media only screen and (min-width: $size) {
    [class*="col-#{$name}"] {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: $colGups;
      padding-left: $colGups;
    }
    @for $i from 1 through $columns {
      .col-#{$name}-#{$i} {
        flex-basis: 100% / $columns * $i;
        max-width: 100% / $columns * $i;
      }
    }
    @for $i from 1 through $columns {
      .col-#{$name}-offset-#{$i} {
        margin-left: 100% / $columns * $i
      }
    }
  }
}
.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
// layout

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -$colGups;
  margin-left: -$colGups;
}

[class^='col']{
  padding-left:$colGups;
  padding-right:$colGups;
  width: 100%;
  min-height: 1px;
}



// main styles


//buttons
a, button{
  transition: .3s ease-in;
  transition-property: color, background-color, opacity;
  svg{
    fill:currentColor;
  }
}
button, .button{
  cursor: pointer;
}

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	
}
@font-face {
    font-family: 'Roman';
    src: url('../fonts/lmromanslant10-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  @media screen and (max-width:575px){
    font-size: 0.6rem;
  }
  
}
h1,h2,h3,h4,h5,h6{
 font-family: 'Raleway', sans-serif;
 margin: 0;
 padding: 0;
}
p{
 font-family: 'Roman'; 
 margin: 0;
 padding: 0;
 @media screen and (max-width:575px){
   max-width: 250px;
 }
}
@import "slick.scss";
@import "slick-theme.scss";



.visually-hidden{
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: -999999999999px;
}
section{
  height: 88.2354vh;
  margin: 5.8823vh;
}
.template{
 
  background-color: #efefef;
   position: relative;
  background-image: url(../img/person.png);
  background-position: 80% 5.8823vh;
  background-repeat: no-repeat;
  
   @media screen and (max-width:575px){
     background-position: 70% .8823vh;
  }

}
.header-menu{
  position: relative;
  z-index: 5;
  display: flex;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  padding: 39px 60px;
   @media screen and (max-width:575px){
    padding: 29px 20px;
  }
}
.menu-tag{
  margin-right: 48px;
  text-transform: uppercase;
  font-size: 1.125em;
   @media screen and (max-width:575px){
    display: none;
  }
  
}
.btn-menu{
  position: fixed;
  width: 25px;
  height: 25px;
      outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    z-index: 5;
  & span{
    display: block;
  width: 100%;
  border: 1px solid #221815;
  margin-bottom: 4px;
  }
}
.letter{
  position: absolute;
  top: 0;
  left: 4%;
  height: 100%;
  pointer-events: none;
  & img{
    height: 100%;
    
  }
   @media screen and (max-width:575px){
     left: 0;
     max-width: 80vw;
     
     & img{
       width: 100%;
     }
  }
}
.template-content{
  padding-top: 200px;
   @media screen and (max-width:575px){
     padding: 100px 20px 0 20px;
  }
}
.template-tagline, .name-tagline,.minim-tagline,.hello-tagline{
  font-size: 3.125em;
  font-weight: 100;
  margin-bottom: 20px;
  & span{
    font-weight: 700;
  }
   @media screen and (max-width:575px){
     text-align: center;
    
  }
}
.template-text{
  max-width: 445px;
  font-size: 1.125em;
  line-height: 1.3888;
  
    @media screen and (max-width:575px){
     text-align: center;
     max-width: 280px;
    
  }
}
.line{
  display: inline-block;
  height: 80px;
  border: .5px solid #000;
  margin: 40px 0 0 6px;
   @media screen and (max-width:575px){
     display: none;
   }
}
.name{
   
  background-color: #efefef;
 
  position: relative;
}
.letter-name{
   left: 8%;
}
.name-photo{
  width: 100%;
    @media screen and (max-width:575px){
     max-height: 250px;
     max-width: 250px;
    
    
  }
  & img{
    width: 100%;
  }
}
.name-content {
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    align-items: center;
        padding-top: 120px;
        
    @media screen and (max-width:575px){
     padding-top: 10px;
     -webkit-flex-direction: column;
         -ms-flex-direction: column;
             flex-direction: column;
    
  }
}
.horizontal-line{
  width: 80px;
  height: 0px;
  margin: 0;
}
.name-content__text{
  width: 100%;
   @media screen and (max-width:575px){
     padding: 0 20px;
   }
}
.name-tagline{
   
     @media screen and (max-width:575px){
      display: block;
      text-align: center; 
      
       
     }
}
.name-text{
  font-size: 1.125em;
  line-height: 1.3888;
  &__bottom{
    margin-top: 30px;
  }
}
.name-list{
 list-style-type:none;
 display: flex;
 margin: 71px 0 0 0;
 padding: 0;
  @media screen and (max-width:575px){
    -webkit-justify-content: center;
            justify-content: center;
  margin: 32px 0 0 0;
  }
}
.name-list__item{
  height: 33px;
  width: 33px;
  background-color: #909090;
  margin-right: 20px;
  & a{
    display: block;
    color: #fff;
    width: 100%;
    height: 100%;
    &:hover{
      background-color: #000;
    }
  }
}
svg{
  margin: 7px;
}
.slider{
   @media screen and (max-width:575px){
     height: auto;
   }
}
.main-foto{
  width: 100%;
  position: relative;
  & img{
    width: 100%;
    height: 88.2354vh;
     @media screen and (max-width:575px){
       height: auto;
     }
  }
}
.letter-slider{
  opacity: .1;
  left: 0;
}
.minim{
  background-color: #efefef; 
  position: relative;
}
.flex-container{
  display: flex;
  padding-top: 200px;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.minim-content{
  margin-right: 50px;
  min-width: 422px;
  padding-top: 50px;
  
  @media screen and (max-width:575px){
    margin-right: 0;
    padding: 50px 25px;
  }
}
.minim-tagline{
  @media screen and (max-width:575px){
  max-width: 250px;
  }
}
.minim-image{
  max-width: 750px;
  max-height: 450px;
  & img{
    width: 100%;
    height: 100%;
  }
}

.minim-text{
  max-width: 422px;
   font-size: 1.125em;
  line-height: 1.3888;
   @media screen and (max-width:575px){
  max-width: 250px;
  }
}
.slider-section{
  background-color: #efefef;
  position: relative;
  
  overflow: hidden;
}
.hello{
  background-color: #efefef; 
  position: relative;
  padding-top: 90px;
   @media screen and (max-width:575px){
  padding: 80px 20px;
  }
}
.hello-tagline{
  text-align: center;
  
}
.hello-text{
  max-width: 970px;
  text-align: center;
  margin: 35px 0 0 0;
  font-size: 1.125em;
}
.hello-form{
  max-width: 590px;
  margin: 0 auto;
  padding-top: 98px;
   @media screen and (max-width:575px){
  padding-top: 49px;
  }
}
.flex-form{
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin-bottom: 33px;
  position: relative;
  & input{
    width: 278px;
    height: 46px;
    background-color: transparent;
    outline: none;
    border: 1px solid #000;
    font-size: 1em;
    padding-left: 23px;
    color: #000;
  }
   @media screen and (max-width:575px){
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
       & input{
         width: 100%;
         margin-bottom: 20px;
       }
  }
}
#Message{
  width: 100%;
  height: 132px;
  background-color: transparent;
    outline: none;
    border: 1px solid #000;
    resize: none;
    margin-bottom: 30px;
    padding: 6px 10px;
    font-size: 1.2em;
}
.send-btn{
  width: 100%;
  height: 45px;
  border: none;
  background-color: #000;
  outline: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
}

.ba-carusel{
  img {
    display: block;
    max-width: 100%;
    width: 100%;
  }
  .slick-center{
    
    transform: scale(1.4);
  }
  .slick-list{
    overflow: visible;
  }
}
.slider-wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
   
    margin: 0 auto;
}
.nav-menu{
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: #f2f2f2;
  top: 0;
  left: 0;
  display: none;
  &.active{
    display: block;
  }
}
.menu{
  list-style: none;
  display: flex;
      -webkit-justify-content: space-around;
              justify-content: space-around;
    position: relative;
    top: 50%;
    z-index: 50;
    padding: 0 100px;
     @media screen and (max-width:575px){
       -webkit-flex-direction: column;
           -ms-flex-direction: column;
               flex-direction: column;
      -webkit-align-items: center;
              align-items: center;
      top: 25%;
      
      &-item{
        margin-bottom: 25px;
        width: 100%;
        text-align: center;
        background-color: #dadada;
        height: 40px;
        line-height: 40px;
        -webkit-align-items: center;
                align-items: center;
      }
     }
    
}
.menu-item{
  & a{
    color: #000;
    text-decoration: none;
    font-size: 2em;
     font-family: 'Raleway', sans-serif;
     &:hover{
       color: #17ad9c;
     }
   
  }
}

.ba-form-error {
    display: none;
    color: red
}
.ba-form-label{
  position: absolute;
  bottom: 0;
}

